@font-face {
  font-family: 'Young Serif';
  src: url('../fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --rose-800: #7A284E;
  --rose-50: #FFF7FB;
  --stone-900: #312E2C;
  --stone-600: #5F564D;
  --stone-150: #E3DDD7;
  --stone-100: #F3E5D7;
  --brown-800: #854632;
  --white: #FFFFFF;
  --font-1: Young Serif, serif;
  --font-2: Outfit, sans-serif;
  font-size: 8px;
}

/* Utility classes */
.text-1 {
  font-family: var(--font-1);
  font-size: 5rem;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-2 {
  font-family: var(--font-1);
  font-size: 3.5rem;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-3 {
  font-family: var(--font-2);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-4 {
  font-family: var(--font-2);
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-5 {
  font-family: var(--font-2);
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0px;
}

body {
  font-size: 2rem;
  font-family: var(--font-2);
  background-color: var(--stone-100);
  width: 100%;
}

main {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 
    [start-left] 5rem 
    [start-col] 736px [end-col] 
    5rem [end-right];
  grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  row-gap: 4rem;
  width:max-content;
  margin-inline: auto;
  margin-top: 16rem;
  padding-top: 5rem;
  border-radius: 3rem;
  overflow: hidden;
}

main > * {
  grid-column: start-col / end-col;
  grid-row: auto;
}